
body { font-family: 'Open Sans', helvetica, arial, sans-serif; color: #666; margin-top: 25px; }

a { text-decoration: none; }

#alpha, #bravo, #charlie { 
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

#container-bravo { background: #a30234; margin: 25px 0; }

.region-above-content { padding: 0 10px; }

#logo { }

#block-block-1 { float: right; margin: 21px 0 0 0; }
#block-block-1 ul { margin: 0; padding: 0; }
#block-block-1 ul li { float: left; list-style: none; margin: 0 10px 0 10px; }
#block-block-1 #indi-cta { color: #fff; background: #a30234; float: right; text-transform: uppercase; font-size: 14px; font-weight: bold; padding: 6px 10px; margin-top: 8px; }

#block-block-2 { margin-bottom: 1em }

#block-system-main-menu ul { padding: 0; margin: 0; }
#block-system-main-menu ul li { margin-right: 35px;}

.region-header {}

#navigation a {  }

#block-system-main-menu ul li { float: left; list-style: none; padding: 0;}

li a.active { color: #666; }		

#page-mid { 
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}


/* HERO */

.view-hero { overflow: auto; }
.view-hero .views-field-nothing .its-an-image { }
.view-hero .views-field-nothing .its-an-image img { float: right; }
.view-hero .views-field-nothing .copy { margin: 40px 0 25px 0;}
.view-hero .views-field-nothing .copy a { color: #fff; font-weight: 300; font-size: 47px; line-height: 50px;}
.view-hero .views-field-nothing a.its-a-button { background: #f0cc01; color: #a30234; padding: 6px 10px; }






/* - RESPONSIVE - */


/* tablet and lame resolutions */

@media all and (min-width: 768px) and (max-width: 1024px) {
  
  .view-hero .views-field-nothing .copy { margin-top: 29px; }
  .view-hero .views-field-nothing .copy a { font-size: 36px; line-height: 29px;}
  .view-hero .views-field-nothing img { background-size: 100%; width: 400px; }
  
}

/* phone */

@media (max-width: 767px) {

	.view-hero { min-height: 210px; }
	.view-hero .views-field-nothing .copy { margin-top: 26px; }
	.view-hero .views-field-nothing .copy a { font-size: 30px; line-height: 32px;}
	.view-hero .views-field-nothing img { display: none; }
	
	#block-block-1 { margin: -8px 0 0 0}
	#block-block-1 img { background-size: 100%; width: 25px; }
	#block-block-1 ul { float: right; }
	#block-block-1 #indi-cta { clear: both; margin-top: 4px; font-size: 12px; padding: 3px 10px; }
	
	#block-system-main-menu { font-size: 15px; }
	#block-system-main-menu ul li { margin-right: 23px;}
	#block-system-main-menu ul li.last { margin-right: 0px;}
}





